body {
  background-color: #CFAFAF;
  color: #fff;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 2vmin);
  font-size: 1.6rem;
}


.terminal {
  background-color: #373737;
  margin: auto;
  margin-top: 50px; 
  width: 900px;
  border-radius: 5px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.terminal-content-wrapper {  
  background-color: #373737;
  height: 450px;
  padding: 5px;
  border-radius: 5px;
  overflow-y: auto;
}

.cursor {
  display:inline-block;
  margin: 0 0 -4px 4px;
  height: 25px;
  width: 13px;
  background-color: white;
  
}
.blink {
  animation: blinker 1s step-start infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.terminal-header {
  padding: 0;
  margin: 0;
  height: 37px;
  border-radius: 5px 5px 0 0;
  background-color: #555;
}
.content-command {
  padding-top: 10px;
  display: block;

}
span.user-color {
  color: yellow;
}

span.dir-color{
  color: greenyellow;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  border: 8px #373737 solid;
  background-clip: padding-box;
  background: #555;
  border-radius: 10px;

}
body::-webkit-scrollbar-thumb {
  border: 7px #CFAFAF solid;
  background-clip: padding-box;
  background: #555;
  border-radius: 10px;

}
